.hub-team {
    &__grid {
        display: grid;
        grid-template-columns: 1fr; /* default = mobile (1 col) */
        gap: 1rem;

        @media (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr); /* tablet: 2 cols */
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr); /* desktop: 3 cols */
        }

        /* dim non-active cards */
        &.has-detail .hub-team__card {
        opacity: 0.4;
        }
        &.has-detail .hub-team__card.active {
        opacity: 1;
        }
    }

    &__card {
        cursor: pointer;
        font-size: initial;
        background: none;
        transition: background 0.3s ease, opacity 0.3s ease;
        &.active,
        &:hover {
            background-color: var(--col-sipco-red);
            color: var(--col-white);
            .hub-team__image-wrapper::after {
                transform: rotate(180deg);
            }
        }
    }

    &__image-wrapper {
        aspect-ratio: 16 / 9;
        overflow: hidden;
        position: relative;
        isolation: isolate;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: var(--col-sipco-red);
            width: 56px;
            height: 56px;
            z-index: 1;
        }
        &::after {
            content: '\f106';
            font-family: "Font Awesome 6 Free";
            font-weight: 600;
            font-size: 1.4rem;
            display: grid;
            place-content: center;
            position: absolute;
            bottom: 0;
            right: 0;
            color: var(--col-white);
            width: 56px;
            height: 56px;
            z-index: 2;
            transition: transform var(--transition);
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: 0;
    }

    .detail {
      grid-column: 1 / -1;
      background: var(--col-white);
      color: var(--col-black);
      padding: 1rem 2rem;
      animation: fadeIn 0.3s ease forwards;
    }
    .detail.fade-out {
      animation: fadeOut 0.3s ease forwards;
    }

    @keyframes fadeIn {
      from {opacity: 0; transform: translateY(-10px);}
      to   {opacity: 1; transform: translateY(0);}
    }
    @keyframes fadeOut {
      from {opacity: 1; transform: translateY(0);}
      to   {opacity: 0; transform: translateY(-10px);}
    }

}



        // &.reveal {
        //     background-color: var(--col-sipco-red);
        //     color: var(--col-white);
        //     .hub-team__image-wrapper::after {
        //         transform: rotate(180deg);
        //     }
        // }

